<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
    if (page.year) title = page.year + (page.month ? ' - ' + page.month : '');
    else title = "Archives";
}
%>

<div class="row">
    <div class="side-bar col s12 m3 l3">
        <article class="list">
            <% if(title) { %>
                <h5><%- title %></h5>
            <% } %>
            <% if (page.archive){ %>
            <%- list_archives({format: "MMM - YYYY"}) -%>
            <%} else if (page.tag) {%>
            <ul class="archive-list">
            <% site.tags.sort('name').each(function(item){ %>
                <li class="archive-list-item">
                    <a class="archive-list-link" href="<%- config.root %><%- item.path %>"><%= item.name %></a>
                    <span class="archive-list-count"><%= item.posts.length %></span>
                </li>
            <% }); %>
            </ul>
            <%} else if (page.category) {%>
            <ul class="archive-list">
                <% site.categories.sort('name').each(function(item){ %>
                <li class="archive-list-item">
                    <a class="archive-list-link" href="<%- config.root %><%- item.path %>"><%= item.name %></a>
                    <span class="archive-list-count"><%= item.posts.length %></span>
                </li>
                <% }); %>
            </ul>
            <%}%>
        </article>
    </div>
    <div class="main-bar col s12 m9 l9">
        <% page.posts.each(function(item){ %>
        <%- partial('_partial/article-archive', {item: item}) %>
        <% }); %>
        <%- partial('_partial/pagination') %>
    </div>
</div>
