 <article class="blog-post">


        <!-- Date and Author -->
        <div class="article-meta">
            <%= item.date.format(config.date_format) %>
            <% if(item.author) { %>
            by <%- item.author %>
            <% } %>
        </div>

        <div class="article-brief">
            <!-- Title -->
            <h3 class="blog-post-title">
                <a href="<%- config.root %><%- item.path %>">
                    <%- item.title %>
                </a>
            </h3>
            <%- partial('article-tags', {item: item}) %>
            <%- partial('article-categories', {item: item}) %>
        </div>
    <!-- Content -->

    <!-- Only display the Read More link if we are displaying an excerpt -->

 </article>
